// テーマカラー＆変数
// 公式で調べる

$main_color:rgb(0, 188, 212);
$sub_color: #ff835e;
$base_color:#fff;

$font_ttl: 'Montserrat', sans-serif;
$font_ja: "Sawarabi Gothic", sans-serif;
$font_en: 'Nunito', sans-serif;
$font_logo: 'Cinzel', serif;
$font_copy: 'Crimson Text', serif;