.header{
  width: 100%;
  height: 80px;
  border-bottom: 3px solid rgb(245, 245, 245);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #555;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  animation: header 7.0s cubic-bezier(0.650, 0.240, 0.780, 0.730) both;
  @-webkit-keyframes header {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes header {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .site-logo{
    width: 50px;
    height: 50px;
    @include mq(sp){
      margin-top: 8px;
      width: 40px;
      height: 40px;
    }
  }
  &__logo{
    position: relative;
    width: 100px;
    margin: 10px 55px;
    @include mq(tab){
      margin-left: 30px;
    }
    &::before{
      position: absolute;
      content: "Miho Uchida";
      font-family: $font_logo;
      font-weight: bold;
      font-size: 10px;
      color: #a3d7ff;
      bottom: -13%;
      left: -10%;
      @include mq(sp){
        font-size: 9px;
        left: -12%;
      }
    }
  }

  nav{
    display: inline-block;
    position: relative;
    line-height: 80px;
    transition: all 0.3s;
  }
  a{
    text-decoration: none;
    color: #555;
  }
  &__nav{
    float: right;
    margin-right: 50px;
  }
  &__list{
    margin-top: 20px;
    line-height: 50px;
    display: flex;
    &-item{
      font-size: 1.2em;
    }
    .fab{
      color: #555;
      font-size: 1.2em;
      vertical-align: middle;
      padding: 0 5px;
    }
    .nav__link{
      margin-left: 25px;
      @include mq(tab){
        margin-left: 0;
      }
      &:hover{
        box-sizing: border-box;
        border-top: 2px solid $main_color;
        border-bottom: 2px solid $main_color;
      }
    }
  }
  // ハンバーガーメニュー
  .hamburger {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .h-span{
    display: block;
    width: 20px;
    height: 1px;
    background: #333;
    position: absolute;
    right: 20px;
    transition: 0.3s;
    z-index: 999;
  }
  .hamburger:hover .h-span:nth-child(2) {
    left: 15px;
  }
  .hamburger .h-span:nth-child(1) {
    top: 10px;
  }
  .hamburger .h-span:nth-child(2) {
    top: 20px;
  }
  .hamburger .h-span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active .h-span:nth-child(1) {
    top: 20px;
    transform: rotate(45deg);
  }
  .hamburger.active .h-span:nth-child(2) {
    right: 60px;
    opacity: 0;
  }
  .hamburger.active .h-span:nth-child(3) {
    top: 20px;
    transform: rotate(-45deg);
  }
  body.hidden {
    overflow: hidden;
  }
  @include mq(tab){
    .header__nav {
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 998;
      background: #fff;
      display: none;
    }
    nav{
      position: absolute;
      content: "";
      top: 65%;
      left: 52%;
      transform: translate(-65%,-52%);
      height: 100%;
      text-align: center;
    }
    .header__list{
      display: block;
      margin: 0 auto;
      line-height: 60px;
    }
    .nav__link{
      z-index: 1000;
    }
    .hamburger {
      display: block;
    }
  }
  @include mq(pc){
    .header-nav {
      display: block !important;
    }
  }
}