@mixin section_ttl{
  font-size: 42px;
  color: $sub_color;
  text-align: center;
  font-family: $font_ttl;
  margin-bottom: 100px;
  position: relative;
  @include mq(sp){
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@mixin flex($justify: flex-start, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  flex-wrap: $wrap;
}
